@media all and ( max-device-width : 900px ) {

    header{
        flex-wrap: wrap;
    }

    .logo{
        width: 150px;
    }
    
    .grpmenu{
        order: 2;
        font-size: 2em;  
        width: 100%;
    }

    .grpmenu a:hover {
        border-top: 0px;   
    }

    .menu1 {
        border-bottom: 2px solid #0065FC; 
        padding-bottom: 20px; 
        width: 50%;
        text-align: center;
        margin-right: 0;
    }

    .menu2{
        border-bottom: 2px solid #c2c2c2; 
        padding-bottom: 20px; 
        width: 50%;
        text-align: center;  
        margin-right: 0;
        
    }
    
    .inscrire{
        order: 1;
        font-size: 2em;
        width: 14%;
        text-align: right;


    }

    /**Section 1 **/

    .section1 h2{
        margin-bottom: 5px;
        font-size: 3.8em;
        margin-top: 40px;
    }
    
    .soustitre{
        font-size: 1.4em;
        margin-top: 15px;   
    }
    
    /**Filtre**/
    .titrefilter{
        margin-top: 12px;
        margin-right:20px; 
        width: 90%;
    }

    .general{
        flex-wrap: wrap;
    }

    .filter1 {
        width: 45%;
        
      }
      .filter2 {
        width: 45%;
        margin-top: 5px;
      }

      .filter3 {
        width: 45%;
        margin-top: 5px;
      }

      .filter4 {
        width: 100%;
        margin-top: 5px;
      }

   
  /**  
 


    .section2{
        background-color: white;
        padding: 20px;
        border-radius: 17px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 40px;
        width: 92%;
        order: 2;
    }

    .section3{
        width: 92%;
        background-color: #F2F2F2;
        padding: 20px;
        border-radius: 17px;
        margin-left: 2%; 
        order: 1;
    }

**/
}