/*Police Principal*/

@font-face {
    font-family: "Raleway";
    src: url('../font/Raleway-VariableFont_wght.ttf');
}

/*--------------------------------*/

/*Police Gras*/

@font-face {
    font-family: "Raleway_Bold";
    src: url('../font/raleway-bold.ttf')
}

/*--------------------------------*/

body {
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    display: flex;
    flex-flow: row nowrap;
}

/*--------------------------------*/

/*Style du logo*/

.divlogo {
    width: 80%;
    margin-left: 3%;
    margin-top: 50px;
}

.logo {
    width: 100px;
}

/*--------------------------------*/

/*Style du menu*/

.grpmenu {
    display: flex;
}

.menu1, .menu2 {
    margin-right: 20px;
    width: 150px;
    text-align: center;
}

.grpmenu a {
    font-family: "Raleway", "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-top: 60px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.grpmenu a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*--------------------------------*/

/*Bouton S'inscrire*/

.inscrire {
    color: #0065FC;
    font-family: "Raleway_Bold", "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-top: 65px;
    font-size: 1.2em;
    margin-right: 3%;
}

/*--------------------------------*/

/*CSS général*/

.bold {
    font-family: "Raleway_Bold", sans-serif;
}

button {
    background-color: inherit;
}

.title {
    font-size: 25px;
    color: black;
}

.star {
    color: blue;
    margin-top: 10px;
    font-size: 0.9em;
}

.disable {
    color: #b6b6b6;
}

.link {
    text-decoration: none;
    color: black;
    height: 100%;
    display: block;
}

/*--------------------------------*/

/*Section 1*/

.section1 {
    font-family: "Raleway", "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-left: 3%;
    width: 94%;
}

.section1 h1 {
    margin-bottom: 5px;
    font-size: 1.5em;
    margin-top: 40px;
}

.soustitre {
    font-size: 1.2em;
    margin-top: 5px;
}

/*Bouton Recherche Section 1*/

.Search_bar {
    display: flex;
    flex-direction: row;
    height: 50px;
}

#pseudo::placeholder {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

input {
    border: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    padding-left: 15px;
    width: 180px;
}

.iconemap {
    background-color: #F2F2F2;
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    padding-top: 14px;
}

button {
    font-size: 15px;
}

.btn1 {
    font-family: "Raleway", "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: -20px;
}

.btn1:hover {
    background-color: #DEEBFF;
    color: black;
    cursor: pointer;
}

#search i {
    display: none;
}

/*--------------------------------*/

/*Filtre Section 1*/

.general {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
    width: 80%;
}

.titrefilter {
    margin-top: 12px;
    margin-right: 20px;
    font-size: 1.1em;
}

.grpfilter1:hover, .grpfilter2:hover, .grpfilter3:hover, .grpfilter4:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.grpfilter1, .grpfilter2, .grpfilter3, .grpfilter4 {
    border: 1.5px solid;
    border-color: #c0c0c0;
    border-left: none;
    display: flex;
    border-radius: 25px;
    margin-right: 20px;
}

.grpfilter1 {
    width: 190px;
}

.grpfilter2 {
    width: 155px;
}

.grpfilter3 {
    width: 190px;
}

.grpfilter4 {
    width: 235px;
}

.iconemap1 {
    background-color: #DEEBFF;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    text-align: center;
}

.iconemap1 i {
    color: #0065FC;
    padding-top: 14px;
}

.filtre {
    border-radius: 25px;
    border: none;
    padding-left: 15px;
    font-size: 1.1em;
}

/*------------------------------*/

/*Ligne information Section 1*/

.information {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.iconeinformation {
    text-align: center;
    border: 1px solid grey;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    margin-top: 7px;
}

.iconeinformation i {
    padding-top: 4px;
    color: blue;
}

.information p {
    margin: 12px;
    font-size: 1em;
}

/*--------------------------------*/

/*Section Hebergement+Populaire*/

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-evenly;
}

/*--------------------------------*/

/**Section2 hebergement **/

.section2 {
    font-family: "Raleway", "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 60%;
    background-color: #F2F2F2;
    padding: 20px 30px;
    border-radius: 30px;
}

.titlesection2 {
    margin-left: 28px;
    font-size: 1.6em;
    color: black;
    margin-bottom: 5px;
}

.blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    min-width: 280px;
    background-color: white;
    border-radius: 17px;
    width: 28%;
    margin-top: 2%;
    padding: 5px;
    box-shadow: 0 0 1em #d2d2d2;
}

.card .detail {
    padding-left: 15px;
    padding-bottom: 5px;
}

.card img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    height: 160px;
}

.detail h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Raleway_bold", sans-serif;
    font-size: 1.25em;
}

.display {
    margin-top: 40px;
    font-size: 1.3em;
    display: block;
    margin-left: 30px;
    padding-bottom: 20px;
}

/*--------------------------------*/

/*Section3 "Les plus populaires*/

.section3 {
    font-family: "Raleway", "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 25%;
    min-width: 400px;
    background-color: #F2F2F2;
    padding: 20px 30px;
    border-radius: 30px;
}

.titlesection3 {
    padding-left: 20px;
}

.haut {
    position: relative;
}

.haut i {
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 0px;
}

.block2_card2 {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    height: 90%;
    margin-top: 6%;
    margin-left: 18px;
}

.card2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 17px;
    height: 180px;
    min-width: 370px;
    padding: 5px;
    box-shadow: 0 0 1em #d2d2d2;
}

.card2 .detail2 {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.card2 img {
    width: 32%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
    max-height: 180px;
}

.detail2 h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Raleway_bold", sans-serif;
    font-size: 20px;
}

.margin {
    margin-top: 75px;
}

.margin2 {
    margin-top: 55px;
}

/*--------------------------------*/

/*Section 4 Activité à Marseille*/

.section4 {
    font-family: "Raleway", "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 3%;
    margin-top: 35px;
    width: 94%;
}

.section4 h2 {
    padding: 20px 30px;
}

.block3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/*Section 4 Block 1 */

.block3_1, .block3_3 {
    height: 600px;
    width: 22%;
    background-color: white;
    border-radius: 17px;
    box-shadow: 0 0 0.5em #d2d2d2;
}

.block3_3 {
    order: 1;
}

.card3_1 img {
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

/*Section 4 Block 2 */

.block3_2 {
    height: 600px;
    width: 22%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.card3_2 {
    height: 55%;
    background-color: white;
    border-radius: 17px;
    box-shadow: 0 0 0.5em #d2d2d2;
}

.card3_2 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.card3_3 {
    background-color: white;
    height: 35%;
    border-radius: 17px;
    box-shadow: 0 0 0.5em #d2d2d2;
}

.card3_3 img {
    width: 100%;
    height: 66%;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

/*Section 4 Block 4 */

.block3_4 {
    order: 2;
    height: 600px;
    width: 22%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.card3_4 {
    background-color: white;
    height: 50%;
    border-radius: 17px;
    box-shadow: 0 0 0.5em #d2d2d2;
}

.card3_4 img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.card3_5 {
    background-color: white;
    height: 40%;
    border-radius: 17px;
    box-shadow: 0 0 0.5em #d2d2d2;
}

.card3_5 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.lieu {
    margin-left: 15px;
    font-size: 20px;
}

/*--------------------------------*/

/*Pied de page*/

footer {
    font-family: "Raleway", "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin-top: 60px;
    width: 100%;
}

.titlefooter {
    font-size: 20px;
}

footer p:hover {
    color: #afaeae;
    cursor: pointer;
}

.grpcolune {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 85px;
}

.colune {
    width: 500px;
    height: 200px;
    min-width: 300px;
    margin-top: 20px;
}

.colune p {
    font-size: 17px;
}